.container {
    padding: 20px 0;
}

.lista-tareas,
.agregar-btn {
    margin-bottom: 40px;
}

.agregar-btn {
    padding: 10px 15px;
    border-bottom: 1px solid var(--PRIMARY);
}

p {
    display: flex;
    align-items: center;
    gap: 20px;
}