<div class="container">
    <div class="lista-titulo">
        <div></div>
        <h3>
            <img src="{{listaSelected.icono}}" alt="icono lista"> {{listaSelected.titulo}}
        </h3>
        <button [mat-menu-trigger-for]="menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="var(--PRIMARY-TEXT)" d="M11 18q-.425 0-.713-.288T10 17q0-.425.288-.713T11 16h2q.425 0 .713.288T14 17q0 .425-.288.713T13 18h-2Zm-4-5q-.425 0-.713-.288T6 12q0-.425.288-.713T7 11h10q.425 0 .713.288T18 12q0 .425-.288.713T17 13H7ZM4 8q-.425 0-.713-.288T3 7q0-.425.288-.713T4 6h16q.425 0 .713.288T21 7q0 .425-.288.713T20 8H4Z"/></svg>
        </button>
        <!-- --------------- MAT MENU --------------- -->
        <mat-menu #menu="matMenu" class="menu">
            <p class="menu-header">Ordenar</p>
            <button mat-menu-item (click)="pasarOrden('Favoritos')">
                <mat-icon>star_border</mat-icon>
                <span>Favoritos</span>
            </button>
            <button mat-menu-item (click)="pasarOrden('Alfabéticamente')">
                <mat-icon>sort_by_alpha</mat-icon>
                <span>Alfabéticamente</span>
            </button>
            <button mat-menu-item [mat-menu-trigger-for]="submenu">
                <mat-icon>date_range</mat-icon>
                <span>Fecha</span>
            </button>
        </mat-menu>
        <mat-menu #submenu="matMenu">
            <button mat-menu-item (click)="pasarOrden('Fecha de vencimiento')">
                <span>De vencimiento</span>
            </button>
            <button mat-menu-item (click)="pasarOrden('Fecha de creación')">
                <span>De creación</span>
            </button>
        </mat-menu>
    </div>
    @if (ordenar){
        <div class="btn">
            <button class="btn-ordenar" (click)="cambiarOrden()">
                {{metodoOrden}} <img class="btn-arrow" [className]="ordenTopDown ? 'top-down' : 'down-top'" src="../../../assets/icons/SortArrow.svg" alt="Sort arrow">
            </button>
            <button (click)="cerrarOrden()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    }
</div>