.container {
    padding: 20px 15px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

input,
textarea,
button,
h3,
p {
    color: var(--PRIMARY-TEXT);
}

input,
button,
textarea {
    background-color: transparent;
    border: none;
    font-family: "Poppins";
}

input,
textarea {
    width: 100%;
    border-bottom: 1px solid var(--SECOND-GREY);
}

input {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}

input:focus,
textarea:focus {
    outline: none;
}

button {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
}

.estados {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    gap: 20px;
}

textarea {
    resize: none;
    min-height: 120px;
    padding: 10px;
}

.listas > h3 {
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.listas > p {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: flex-start;
    font-size: 1.1rem;
}

.listas > button {
    margin-top: 50px;
}

.botones {
    width: calc(100% - 30px);
    background-color: var(--BACKGROUND);
    padding: 15px 0;
    position: fixed;
    bottom: 0px;
}

.botones > button {
    background-color: var(--PRIMARY-TEXT);
    color: var(--BACKGROUND);
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    justify-content: center;
    padding: 5px;
}

.botones > .edit {
    background-color: var(--PRIMARY);
    color: var(--HEADER-TEXT);
    margin-top: 15px;
}