/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

:root{
    font-size: 16px;
    font-family: "Poppins";
    background-color: var(--BACKGROUND);
    --PRIMARY: #48BEFF;
    --HEADER-TEXT: #000;
    /* editar variables de angular material MENU */
    --mat-menu-container-color: var(--MENU-BG);
    --mat-menu-container-shape: 10px;
    --mat-menu-item-label-text-font: "Poppins";
    --mat-menu-item-label-text-weight: lighter;
    --mat-menu-item-icon-color: var(--PRIMARY-TEXT);
    /* editar variables de angular material SNACKBAR */
    --mdc-snackbar-container-color: var(--MENU-BG);
    --mdc-snackbar-supporting-text-color: var(--PRIMARY-TEXT);
    --mat-snack-bar-button-color: var(--SNACKBAR-BTN);
    /* editar variables de angular SIDENAV */
    --mat-sidenav-content-background-color: var(--BACKGROUND);
    --mat-sidenav-container-background-color: var(--BACKGROUND);
    --mat-sidenav-container-text-color: var(--PRIMARY-TEXT);
    --mat-sidenav-scrim-color: var(--SIDENAV-BG);
    /* editar variables de angular DATEPICKER */
    --mdc-icon-button-icon-color: var(--PRIMARY-TEXT);
}

:root.dark {
    color-scheme: dark;
    --BACKGROUND: #444343;
    --SIDENAV-BG: #44434398;
    --MENU-BG: #232323;
    --PRIMARY-TEXT: #FFF;
    --SECOND-GREY: #5A5959;
    --SNACKBAR-BTN: #a7a7a7;
    --TAREA-CLICK: #494949;
    --VENCIMIENTO-TXT: #999999;
}

:root.light {
    color-scheme: light;
    --BACKGROUND: #E4E4E4;
    --SIDENAV-BG: #e4e4e4a9;
    --MENU-BG: #cacaca;
    --PRIMARY-TEXT: #000;
    --SECOND-GREY: #D0C3C3;
    --SNACKBAR-BTN: #6d6d6d;
    --TAREA-CLICK: #dadada;
    --VENCIMIENTO-TXT: #7a7a7a;
}

* {
    padding: 0;
    margin: 0;
}

mat-drawer-content::-webkit-scrollbar {
    display: none;
}

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}